        body{
            width:100%;
            margin:0px;
            padding:0px;
        }
        #header{
            background-color:grey;
            width:100%;
            color:#fff;
            text-align:center;


        }
        
        #footer{
            background-color:grey;
            width:100%;
            color:#fff;
            clear:both;
            text-align:center;

        }
        #parent{
       width:80%; 
       margin:0 auto;        
        }
        #fomhead{
            float:left;
            margin-left:30px;
            height:250px;
            width:400px;
            border-left:2px dotted grey;
            border-bottom:2px dotted grey;
            padding:2px;

        }
                #fomhead p:first-child {

                  color:Blue;  
                }
                
                #fomhead p{
                    color:red;
                }

